<nav class="py-5 px-5 bg-teal-500 flex justify-between shadow-md">
    <div>
        <a class="uppercase px-2 py-5 font-bold" href="{% url "pages:index" %}">Test CRM</a>
            
    </div>
        
    <div>
        {% url "pages:index" as url_name %}
        <a class="px-4 text-white {% if request.path == url_name %}underline underline-offset-8{% endif %}" href="{% url "pages:index" %}">Home</a>

        {% url "pages:about" as url_name %}
        <a class="px-1 text-white {% if request.path == url_name %}underline underline-offset-8{% endif %}" href="{% url "pages:about" %}">About</a>
        <a href="#" class="mx-2 py-2 px-5 bg-teal-300 text-teal-700 rounded-md shadow-md">Login</a>
        <a href="#" class="py-2 px-5 bg-teal-600 text-white rounded-md shadow-md">Signup</a>
    </div>
</nav>


